@import '../../styles/_config.scss'
@import '../../styles/_colors.scss'
@import '../../styles/_mixins.sass'

.Button
	display: inline-flex
	justify-content: center
	align-items: center
	font-family: $font-thick
	font-weight: 900
	cursor: pointer

.filled
	color: white
	border: none
	box-shadow: none
	
	+FilledButtonColors

.outline
	background: transparent
	border-style: solid

	+OutlineButtonColors

.small
	font-size: .75rem
	padding: .25rem .75rem
	font-weight: 800

.medium
	font-size: 1.25rem
	padding: .5rem 1rem

.large
	font-size: 1.75rem
	padding: .75rem 1.5rem

.outline
	border-style: solid
	+BorderWidths

.rounded
	+BorderRadii



// Dropdown buttons

.DropdownContainer
	display: inline-flex
	flex-direction: column
	position: relative

	&:hover
		& > .rounded
			border-bottom-left-radius: 0 !important
			border-bottom-right-radius: 0 !important
		& > .DropdownList
			height: auto
			pointer-events: auto
			opacity: 1

			transition: opacity 200ms ease-in-out

.DropdownList
	display: flex
	flex-direction: column
	flex: 1
	position: absolute
	z-index: 1000
	top: 100%
	pointer-events: none
	height: 0
	opacity: 0

	& > .DropdownListItem:first-child > .rounded,
	& > .DropdownListItem:first-child > .DropdownContainer > .rounded
		border-radius: 0 !important

	& > .DropdownListItem:last-child > .rounded,
	& > .DropdownListItem:last-child > .DropdownContainer > .rounded
		+BorderRadii(bottom)


.DropdownListItem
	display: flex
	& > a,
	& > button
		flex: 1


.DropdownSideLeft
	& > .DropdownList
		left: 0
		text-align: left

		& .DropdownSideRight .DropdownList *
			justify-content: flex-start
			text-align: left

		& > .DropdownListItem > .Button
			justify-content: flex-start
			flex: 1

.DropdownSideRight
	& > .DropdownList
		right: 0
		text-align: right

		& > .DropdownListItem .DropdownListItem .Button
			justify-content: flex-start

		& > .DropdownListItem > .Button
			justify-content: flex-end



// ButtonGroup component.

.ButtonGroup
	display: inline-flex

	& > .Button,
	& > .DropdownContainer > .Button
		&.filled
			+FilledButtonWithBorderColors

	& > .rounded:first-child,
	& > .DropdownContainer:first-child > .rounded
		+BorderRadii(left)

	& > .rounded:last-child,
	& > .DropdownContainer:last-child > .rounded
		+BorderRadii(right)

.groupFlex
	display: flex

	& > .Button,
	& > .DropdownContainer
		flex: 1


.vertical
	flex-direction: column

	& > .rounded:first-child,
	& > .DropdownContainer:first-child > .rounded
		+BorderRadii(top)

	& > .rounded:last-child,
	& > .DropdownContainer:last-child > .rounded
		+BorderRadii(bottom)

	& > .DropdownContainer
		&:hover
			&.DropdownSideLeft
				& > .DropdownList
					top: 0
					transform: translateX(-100%)

					& > .DropdownListItem:first-child > .rounded
						+BorderRadii(topleft, true)

				& > .rounded
					border-bottom-left-radius: 0 !important
					border-top-left-radius: 0 !important

			&.DropdownSideRight
				& > .DropdownList
					top: 0
					transform: translateX(calc(100% - 1px))

					& > .DropdownListItem:first-child > .rounded
						+BorderRadii(topright, true)

				& > .rounded
					border-bottom-right-radius: 0 !important
					border-top-right-radius: 0 !important

.DropdownContainer
	& .DropdownContainer
		&:hover
			&.DropdownSideLeft
				& > .DropdownList
					top: 0
					transform: translateX(-100%)

					& > .DropdownListItem:first-child > .rounded
						+BorderRadii(topleft, true)

				& > .rounded
					border-bottom-left-radius: 0 !important
					border-top-left-radius: 0 !important

			&.DropdownSideRight
				& > .DropdownList
					top: 0
					transform: translateX(calc(100% - 1px))

					& > .DropdownListItem:first-child > .rounded
						+BorderRadii(topright, true)

				& > .rounded
					border-bottom-right-radius: 0 !important
					border-top-right-radius: 0 !important



