$border-radius 			: 	.3rem;
$border-radius-small: 	.2rem;
$border-radius-large:		.5rem;

$font-thick	:	'Nunito', sans-serif;
$font-light	:	'Roboto', sans-serif;

$buttonBorderWidths : (
	'small' : 3px,
	'medium' : 4px,
	'large' : 5px
);

$buttonBorderRadii : (
	'small' : .2rem,
	'medium' : .3rem,
	'large' : .5rem
);
